Sales Data Analysis:

ABC Private Limited, a retail company, wants to gain insight into its customers' purchasing habits, particularly their spending on different product categories. To do this, they have provided a summary of the purchase history of a number of high-volume products from the previous month. This data includes information on the customer demographics, such as age, gender, marital status, city type, and length of stay in their current city, as well as details on the products themselves, including product ID and product category.

User_ID : User ID

Product_ID : Product ID

Gender : Sex of User

Age : Age in bins

Occupation : Occupation

City_Category : Category of the City (A,B,C)

Stay_In_Current_City_Years: Number of years stay in current city

Marital_Status: Marital Status

Product_Category_1: Product Category

Product_Category_2 : Product may belongs to other category also

Product_Category_3: Product may belongs to other category als

Purchase : Purchase Amount (Target Variable)

### Que. 1)  DATA ANALYSIS FOR THE ABOVE PROBLEM

### IMPORT LIBRARIES AND DATASET

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
train=pd.read_csv(r"C:\Users\Amit\Desktop\project\train.csv")
test=pd.read_csv(r"C:\Users\Amit\Desktop\project\test.csv")

### descriptive  statistics of the dataset

In [3]:
train.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

In [4]:
test.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3
0,1000004,P00128942,M,46-50,7,B,2,1,1,11.0,NaN
1,1000009,P00113442,M,26-35,17,C,0,0,3,5.0,NaN
2,1000010,P00288442,F,36-45,1,B,4+,1,5,14.0,NaN
3,1000010,P00145342,F,36-45,1,B,4+,1,4,9.0,NaN
4,1000011,P00053842,F,26-35,1,C,1,0,4,5.0,12.0

In [5]:
# Training dataset dimensions
train.shape

(550068, 12)

In [6]:
# Testing dataset dimensions
test.shape

(233599, 11)

In [7]:
# checking the data types of each variable
train.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [8]:
# Features data-type
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category_1          550068 non-null  int64
 9   Product_Category_2          376430 non-null  float64
 10  Product_Category_3          166821 non-null  float64
 11  Purchase                    550068 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 50.4+ MB

Looking at the data, we can conclude that our set possesses 12 different parameters: 7 numerical  and 5 object variables

In [9]:
# Statistical summary
train.describe()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

### checking the measure of central tendency

In [ ]:
print("mean:\n",   train.mean())
print("\nmedian:\n",   train.median())
print("\nmode:\n" ,   train.mode())

### Checking measure of central dispersion

In [ ]:
print("Range:\n",  train.max()-train.min())

print("\nVariance:\n", train.var())

print("\nstandard deviation:\n",  train.std())

### checking the skewwness and kurtosis

In [ ]:
print("Skewness:\n", train.skew())
print("\nkurtosis:\n", train.kurtosis())

### checking missing values

In [ ]:
train.isnull().sum()/train.shape[0]*100

In [ ]:
sns.heatmap(train.isnull())

Here we can see that there are 2 features which contain the missing values i.e Product_Category_2 and Product_Category_3.

### checking for unique values

In [ ]:
train.nunique()

### EDA

#### univarite analysis

In [ ]:
# Creating box plot for each variable

train.plot(kind="box", subplots=True, layout=(3,3), figsize=(10,10))
plt.show()

In [ ]:
# Creating scatter plot matrix

pd.plotting.scatter_matrix(train, figsize=(10,10))
plt.show()

In [ ]:
# distplot for dependent feature purchase

sns.distplot(train["Purchase"],color='green')
plt.title("Purchase Distribution")
plt.xlabel('Purchase amount')
plt.ylabel('Number of people')
plt.show()

We can observe that purchase amount is repeating for many customers.This may be because on Black Friday many are buying discounted products in large numbers and follows a Gaussian Distribution

In [ ]:
train["Purchase"].skew()

The purchase is right skewed and we can do a log transformation for the purchase.

In [ ]:
# Creating a countplot for gender

sns.countplot(train.Gender)
plt.title('Distribution of Gender')
plt.xlabel('Gender')
plt.ylabel('Number of people')
plt.show()

The graph shows that there are almost 3 times more male customers than female customers.

In [ ]:
train['Gender'].value_counts(normalize=True)*100

On average the male gender spends more money on purchase compare to female

In [ ]:
# Creating a countplot for Marital Status

sns.countplot(train['Marital_Status'])
plt.title('Marital Status Distribution')
plt.xlabel('Marital Status')
plt.ylabel('Number of people')
plt.show()

There are more unmarried people in the dataset who purchase more

In [ ]:
# creating a countplot for occupation

plt.figure(figsize=(18,5))
sns.countplot(train['Occupation'])
plt.title('Occupation wise Distribution')
plt.xlabel('Occupation code')
plt.ylabel('Number of people')
plt.show()

Occupation has at least 20 different values and it shows that top three Occupations with the majority of buyers is 4,0,7.

In [ ]:
# creating a  for city category


sns.countplot(train['City_Category'])
plt.title('city category distribution')
plt.xlabel('city')
plt.ylabel('number of people')
plt.show()

It is observed that city category B has made the most number of puchases.

In [ ]:
# creating a countplot for age

sns.countplot(train['Age'])
plt.title('Distribution of Age')
plt.xlabel('Different Categories of Age')
plt.show()

The graph shows that the majority of the customers that purchase things during the sales season mainly belong to the age group of 26-35 and 36-45

### purchase variable vs other variable

#### bivirate analysis

In [ ]:
# creating a barplot of occupation vs purchase

plt.figure(figsize = (20, 7))
sns.barplot(train['Occupation'], train['Purchase'], palette = 'Paired')
plt.title('Purchase amount across Occupation')
plt.xlabel('Occupation code')
plt.ylabel('Purchase amount')

In [ ]:
# creating a barplot of age vs purchase

sns.barplot(train['Age'], train['Purchase'], palette = 'Paired')
plt.title('Purchase amount across Age')
plt.xlabel('Age')
plt.ylabel('Purchase amount')

The average amount spend by age group 51-55 is most during the festive season sales.

In [ ]:
# creating a barplot of gender vs purchase

sns.barplot(train['Gender'], train['Purchase'], palette = 'Paired')
plt.title('Purchase amount across Gender')
plt.xlabel('Gender')
plt.ylabel('Purchase amount')

In [ ]:
# creating a barplot of City_Category vs purchase

sns.barplot(train['City_Category'], train['Purchase'], palette = 'Paired')
plt.title('Purchase amount across City_Category')
plt.xlabel('City_Category')
plt.ylabel('Purchase amount')

In [ ]:
# creating a barplot of product category1 vs purchase

plt.figure(figsize = (12, 7))
sns.barplot(train['Product_Category_1'], train['Purchase'], palette = 'Paired')
plt.title('Purchase amount across Product_Category_1')
plt.xlabel('Product_Category_1')
plt.ylabel('Purchase amount')

In [ ]:
# creating a barplot of Marital Status vs purchase

sns.barplot(train['Marital_Status'], train['Purchase'])
plt.title('Purchase amount across Marital Status')
plt.xlabel('Marital Status')
plt.ylabel('Purchase amount')

Purchasers who married or not, have almost same average of purchase.

#### multivariate analysis

In [ ]:
# Creating a Pairplot for all features
plt.style.use('default')
sns.pairplot(train)
plt.show()

In [ ]:
# heatmap of correlation matrix to check whether the feature s are correleated with each other

sns.heatmap(train.corr(), annot = True)
plt.show()

In [ ]:
# convert 4+ to 4 which is in stay in current city years variable

train['Stay_In_Current_City_Years']=train['Stay_In_Current_City_Years'].replace('4+',4)
test['Stay_In_Current_City_Years']=test['Stay_In_Current_City_Years'].replace('4+',4)

### Merging train and test

In [ ]:
train['source'] = 'train'
test['source'] = 'test'

In [ ]:
data = pd.concat([train, test])

In [ ]:
data.info()

The feature Product_Category_3 has 70% data missing so imputing this much data is not feasible , so it is better to drop this feature

In [ ]:
data.drop('Product_Category_3', axis = 1, inplace = True)

### Dropping irrelevant features

In [ ]:
#dropping product id and user id feature because it does not affet the purchase

data.drop('User_ID', axis = 1, inplace = True)

data.drop('Product_ID', axis = 1, inplace = True)

In [ ]:
data.head()

### Convert categorical data into numerical

Gender 'F' for female are represented by the value fo 0


Gender 'M' for male are represented by the value fo 1

In [ ]:
data["Gender"]=data["Gender"].map({"F":0, "M":1})

city_category "A" is represented by 0 "B" by 1 and "C" by 2

In [ ]:
data["City_Category"]=data["City_Category"].map({"A":0, "B":1,"C":2})

In [ ]:
# convert range of age column into integer

data['Age'] = data['Age'].map({'0-17': 9,
                               '18-25': 22,
                               '26-35': 31,
                               '36-45': 42,
                               '46-50': 48,
                               '51-55': 53,
                               '55+': 60})

In [ ]:
data.head()

### Handling Missing values

In [ ]:
# handle missing values with median

data['Product_Category_2'].fillna(data['Product_Category_2'].median(), inplace = True)

In [ ]:
data.isna().sum()

There are no null values left in the data set.The purchase null values are because of the test data that needs to be predicted

### Que.2) Building a model that can predict how much a customer is likely to spend on a given product.

### Separating dataset into train and test

In [ ]:
train = data.loc[data['source'] == 'train']
test = data.loc[data['source'] == 'test']

In [ ]:
train.drop('source', axis = 1, inplace = True)
test.drop('source', axis = 1, inplace = True)

In [ ]:
#separating train into X and Y

x = train.drop("Purchase", axis = 1)
y= train["Purchase"]

### creating a train test split

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 35)

In [ ]:
print("x_train shape:", x_train.shape)
print("x_test shape:", x_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

### Building model and Evaluation

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor

from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import RandomizedSearchCV

#### Linear Regression

In [ ]:
lin_reg = LinearRegression()
lin_reg.fit(x_train, y_train)
y_pred_lin_reg = lin_reg.predict(x_test)

print("RMSE:",np.sqrt(mean_squared_error(y_test, y_pred_lin_reg)))
print("R2 score:", r2_score(y_test, y_pred_lin_reg))

#### KNN

In [ ]:
knn = KNeighborsRegressor()
knn.fit(x_train, y_train)
y_pred_knn = knn.predict(x_test)

print("RMSE:",np.sqrt(mean_squared_error(y_test, y_pred_knn)))
print("R2 score:", r2_score(y_test, y_pred_knn))

#### Decision Tree

In [ ]:
dec_tree = DecisionTreeRegressor()
dec_tree.fit(x_train, y_train)
y_pred_dec = dec_tree.predict(x_test)

print("RMSE:",np.sqrt(mean_squared_error(y_test, y_pred_dec)))
print("R2 score:", r2_score(y_test, y_pred_dec))

#### Random Forest

In [ ]:
ran_for = RandomForestRegressor()
ran_for.fit(x_train, y_train)
y_pred_ran_for = ran_for.predict(x_test)

print("RMSE:",np.sqrt(mean_squared_error(y_test, y_pred_ran_for)))
print("R2 score:", r2_score(y_test, y_pred_ran_for))

####  ADABOOST

In [ ]:
adab= AdaBoostRegressor()
adab.fit(x_train, y_train)
y_pred_adab= adab.predict(x_test)

print("RMSE:",np.sqrt(mean_squared_error(y_test, y_pred_adab)))
print("R2 score:", r2_score(y_test, y_pred_adab))

### hyperparameter tuning

In [ ]:
grid =  {"n_estimators": [10,50,100],
       "max_depth": [None,10,20,30,40,50,],
       "max_features": ["auto", "sqrt"],
       "min_samples_leaf": [2,10,15],
       "min_samples_split": [2,5,20]}

In [ ]:
#randomsearchCV = RandomizedSearchCV(ran_for, param_distributions = grid, n_iter = 5, cv=5,  verbose = True, n_jobs=-1)

In [ ]:
#randomsearchCV.fit(x_train, y_train)

In [ ]:
#randomsearchCV.best_params_

fitting the best parameter

In [ ]:
#rf_regressor_tune = RandomForestRegressor(n_estimators=, max_depth = , max_features = , min_samples_leaf =,min_samples_split=)
#rf_regressor_tune.fit(x_train, y_train) 
#r2_rf_tune, rmse_rf_tune=pred(rf_regressor_tune,x_test,y_test)

### Conclusion

It seems that among all the five models, Random Forest Regressor has highest R^2_score and lowest Root Mean Squared Error.

Thus Random Forest Regressor is performs best.